<h1>Add A Portfolio:</h1>

<div id="form-container">
  <form id="porfolio-form" method="post" action="/portfolios">
    <input type="text" name="title" placeholder="title here"/>
    <br>

    <input type="submit" value="upload:">
  </form>
</div>

<p>
  <h2>Images:</h2>
</p>
