<h1>Title: <%= @portfolio.title %></h1>

<h3><a href="/portfolios/<%= @portfolio.id %>/edit">Edit this portfoilo</a></h3>

<div id="image-container">
  <% @portfolio.images.each do |image| %>
    <a href="/images/<%= image.id %>"><img src='<%= image.data.url(:medium) %>'></a>
  <% end %>
</div>
