@import "vendor/index";

html,
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10px;
  width: 100vw;
  height: 100vh;
}


$app-bar-padding: 1em;
$logo-color: #333;
$logo-accent-color: #ccc;
$logo-size: 1.8em;


.app-bar {
  @include display(flex);
  padding: $app-bar-padding;

  .logo {
    @include flex(1);
    color: $logo-color;
    font-size: $logo-size;
    text-decoration: none;

    light {
      color: $logo-accent-color;
    }
  }
}
